//
   Created with JetBrains WebStorm.
   User: shidoudou
   Date: 13-12-3
   Time: 下午8:14
   To change this template use File | Settings | File Templates.
.container-fluid
    .row-fluid
        .span12
            ul.nav.nav-tabs
                li.active
                    a(href="/")  主页
                - if ('u')
                    li
                        a(href="/signup") 注册
                    li
                        a(href="/signin") 登陆
                - else
                    li
                        a(href="#") 发表
                    li
                        a(href="#") 登出
br
p Welcome To #{title}
